# Copy this file to .env and fill in your values.
# don't touch db_host or db_port
# if anything changed, you need to redo the docker server by deleting the old container
#  and deleting pgdata, then run docker compose up

POSTGRES_USER=your_db_username
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=hirsh_guitar_db

DB_HOST=localhost
DB_PORT=5432
