services:
  db:
    image: postgres:18
    container_name: hirsh_guitar_db
    restart: always
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql
  
  pgadmin:
    image: dpage/pgadmin4:9.11 # Use a specific version
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80" # Access pgAdmin at http://localhost:5050
    restart: always

volumes:
  pgdata:

