# Database (local Docker)
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=hirsh_guitar_db

DB_HOST=localhost
DB_PORT=5432

# Railway vars for shared development environment
NODE_ENV=development # change to production later
SESSION_SECRET= # generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
CORS_ORIGIN=http://localhost:5173

# Cloudflare R2 vars for file storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=hirsch-guitar-academy-forum-uploads